<a href="https://colab.research.google.com/github/bireshwar1980/SML/blob/main/DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Numeric data types

# integer type
price = 100
best_price = int(80)
print(type(price))
print(isinstance(best_price, int))

<class 'int'>
True

In [ ]:
distance = float(input("Enter the distance of the trip in kilometers: "))

cost_per_km = float(input("Enter the cost per kilometer in ₹: "))



total_expense = distance * cost_per_km

print("The total travel expense for {} km at ₹{} per km is ₹{}.".format(distance, cost_per_km, total_expense))

In [ ]:
# float type
gpa = 3.28
y = float(1.14)
print(type(gpa))

<class 'float'>

In [ ]:
# complex type
comp_value =5 +3j
print(type(comp_value))
print(comp_value.real)
print(comp_value.imag)

<class 'complex'>
5.0
3.0

In [ ]:
a = None
print(type(a))

<class 'NoneType'>

In [ ]:
print(abs(gpa))
print(abs(gpa * -1))

print(round(gpa))

print(round(gpa, 1))

3.28
3.28
3
3.3

In [ ]:
# Casting a string to a number
zipcode = "10001"
print(type(zipcode))
zip_value = int(zipcode)
print(type(zip_value))
zip_value1 = float(zipcode)
print(type(zip_value1))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
a='Bennett University'
print(a[5])

print(a[-1])

print(a[-5])

t
y
r

In [ ]:
users = ['Dave', 'John', 'Sara']

data = ['Dave', 42, True]

emptylist = []

print("Dave" in emptylist)
print("Dave" in data)
print("42" in users)

False
True
False

In [ ]:
print(users[0])
print(users[-2])

print(users.index('Sara'))

Dave
John
2

In [ ]:
# Mutable
list_1 = ['History', 'Math', 'Physics', 'CompSci',42]
list_2 = list_1

print(list_1)
print(list_2)

list_1[0] = 'Art'

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci', 42]
['History', 'Math', 'Physics', 'CompSci', 42]
['Art', 'Math', 'Physics', 'CompSci', 42]
['Art', 'Math', 'Physics', 'CompSci', 42]

In [ ]:
# Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci',42)
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

#tuple_1[0] = 'Art'

# print(tuple_1)
# print(tuple_2)

('History', 'Math', 'Physics', 'CompSci', 42)
('History', 'Math', 'Physics', 'CompSci', 42)

In [ ]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}

print(cs_courses)

{'CompSci', 'Physics', 'History', 'Math'}

In [ ]:
myset = {"bennett",'computer',"science"}

print(myset)

{'science', 'bennett', 'computer'}

In [ ]:
print("Greetings! {}".format("abc"))

Greetings! abc

In [ ]:
print("Greetings, {}".format("abc"))

Greetings, abc

In [ ]:
print("{:.2f}".format(3.14159))

3.14

In [ ]:
z = 100

print(id(z))

132209709043024

In [ ]:
a = 50

b = 50

print(id(a) == id(b))

True

In [ ]:
name = input("Enter your name: ")
age =int (input("Enter your age:"))
eno = input("Enter your enrollment No:")
formatted_string = f"Welcome {name}\n Student Age : {age}\n Student id :{eno}"
print(formatted_string)

Enter your name: abc
Enter your age:45
Enter your enrollment No:b25
Welcome abc
 Student Age : 45
 Student id :b25

In [ ]:
name = input("Enter the guest's name: ")

event = input("Enter the event name: ")

date = input("Enter the event date: ")



invitation = "Dear {}, you are invited to {} on {}.".format(name, event, date)

print(invitation)

Enter the guest's name: abc
Enter the event name: xyx
Enter the event date: 15 sept 2024
Dear abc, you are invited to xyx on 15 sept 2024.

In [ ]:
name = input("Enter the guest's name: ")

event = input("Enter the event name: ")

date = input("Enter the event date: ")



invitation = f"Dear {name}, you are invited to {event} on {date}."

print(invitation)

In [ ]:
distance = float(input("Enter the distance of the trip in kilometers: "))

cost_per_km = float(input("Enter the cost per kilometer in ₹: "))



total_expense = distance * cost_per_km

print("The total travel expense for {} km at ₹{} per km is ₹{}.".format(distance, cost_per_km, total_expense))

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [ ]:
#named indexes:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
#numbered indexes:
txt2 = "My name is {0}, I'm {1}".format("John",36)
#empty placeholders:
txt3 = "My name is {}, I'm {}".format("John",36)

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [ ]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [ ]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [ ]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [ ]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [ ]:
#Write a Python program to create variables of bool, tuple, and range types, and print their types.
a = True

print(type(a))

b = (1, 2, 3)

print(type(b))

c = range(10)

print(type(c))

<class 'bool'>
<class 'tuple'>
<class 'range'>

In [ ]:
#Given the radius, calculate the volume of the hemisphere and print it in the following format:

#Volume of the Hemisphere: <volume>


import math

input_string = input("Enter the radius of the hemisphere: ")
radius = float(input_string)

volume = (2 / 3) * math.pi * (radius ** 3)
print(f"Volume of the Hemisphere: {volume:.2f}")

In [ ]:
#Create a variable named formatted_info using an f-string that includes the values of student_name, course_name, and grade. Then print a message in the following format:

#Student: <student_name>
#Course: <course_name>
#Grade: <grade>


name = input("Enter your name: ")
course_name = input("Enter the course name: ")
grade = input("Enter your grade: ")
#formatted_string = f"Welcome {name}\n Student Age : {age}\n Student id :{eno}"
#print(formatted_string)
formatted_info = f"Student: {name}\n Course: {course_name}\n Grade: {grade}"
print(formatted_info)

Enter your name: abc
Enter the course name: 23
Enter your grade: a
Student: abc
 Course: 23
 Grade: a

In [ ]:
# Read input from the user

input_str = input("Enter a list of boolean values (True/False) separated by commas: ")



# Convert the input string to individual items

bool_str_list = input_str.split(", ")



# Initialize an empty string to store the result

result_str = ""



# Iterate through the boolean string items and convert them to integers

for item_str in bool_str_list:

    # Evaluate the item to convert it to a boolean value

    item = eval(item_str)

    # Check if the item is a boolean and convert to integer

    if item == True or item == False:

        result_str += str(int(item)) + " "



# Remove the trailing space and print the result

result_str = result_str.strip()

print(f"Converted list: {result_str}")

Enter a list of boolean values (True/False) separated by commas: True, False
Converted list: 1 0

In [ ]:
# Read input from the user

input_str = input("Enter a list of values separated by commas (e.g., 1, 'text', 3.5, True): ")



# Evaluate the input string to convert it to a list

# Note: eval can be dangerous with untrusted input, use with caution

mixed_list_str = input_str.split(", ")



# Initialize an empty string to store the result

result_str = ""



# Iterate through the split strings, evaluate each item, and check if it's an integer

for item_str in mixed_list_str:

    item = eval(item_str)

    if type(item) == int:

        result_str += str(item) + " "



# Remove the trailing space and print the result

result_str = result_str.strip()

print(f"Extracted integers: {result_str}")

In [ ]:
mytuple = ("apple", "apple", "cherry")
print(mytuple)

('apple', 'apple', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
thistuple = ("apple", "banana"," ", "cherry")
print(len(thistuple))

4

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

In [ ]:
#Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-3])

apple

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5]) #Note: The search will start at index 2 (included) and end at index 5 (not included).

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
thislist = ["apple", "apple", "cherry"]
print(thislist)

['apple', 'apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
#Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
#Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thisset = {"apple", "apple", "cherry", "apple"}

print(thisset)

{'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [ ]:
#You cannot access items in a set by referring to an index or a key.

#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])